extends layout

block content
  h1 Welcome to the Wild Code School 
  img(src='images/deer2.fw.png', alt='pain')
  p Can you fill the table :

  table.table.text-center.table-striped
    tr
      th #
      th Nom 
      th Prénom
      th Date d'anniversaire
      th Ville
      th Code Postal
      th E-mail
  
    each hack in hackaton
      tr
        td= hack.idPersonnes
        td= hack.name
        td= hack.fristname 
        td= hack.birthday
        td= hack.city
        td= hack.code
        td= hack.mail
        td 
          a(href="/admin/modify?id=" + hack.idPersonnes class="btn btn-info") Modifier
        td  
          a(href="/admin/delete-product?id=" + hack.idPersonnes onclick="return confirm('Voulez-vous vraiment supprimer?');" class="btn btn-warning") Supprimer
